.dropdown-wrapper {
  position: absolute;

  background-color: #1e2841;
  padding: 12px 10px;

  border: 1px solid #fff;

  border-radius: 6px;
  width: 300px;
  right: 10%;
}

@media (max-width: 1199.98px) {
  .dropdown-wrapper {
    right: 15%;
  }
}

@media (max-width: 767.98px) {
  .dropdown-wrapper {
    top: 12%;
    right: auto;
    z-index: 999;
  }
}

.dropdown-value-container {
  display: flex;
  align-items: center;

  position: relative;

  cursor: pointer;
}

.dropdown-value-container > img {
  width: 20px;
  height: 20px;
}

.dropdown-value-container > p {
  margin-left: 10px;
  font-family: "Sk-Modernist-Mono";
  color: #fff;
}

.dropdown-arrow {
  position: absolute;

  right: 10px;
}

.dropdown-options-container {
  position: absolute;

  left: 0;

  background-color: #515470;
  width: calc(100% - 20px);

  padding: 10px;

  margin-top: 10px;

  border-radius: 6px;

  z-index: 1000;
}

.dropdown-options-container > div {
  margin: 10px 0;

  font-family: "Sk-Modernist-Mono";

  color: #fff;

  cursor: pointer;

  width: 100%;
}
