.home-container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("../../assets/png/home-page-bg.png");
  background-size: 100% 100%;

  position: relative;
}

.header {
  z-index: 1200;

  position: absolute;

  top: 2.5vh;
  left: 50%;

  width: 90%;

  display: flex;
  justify-content: space-between;

  transform: translateX(-50%);
}

.connect-wallet {
  width: 180px;

  padding: 10px;

  background: rgba(255, 255, 81, 0.1);
  border: 1px solid rgba(81, 84, 112, 0.7);
  backdrop-filter: blur(6px);

  border-radius: 6px;

  color: #fff;

  cursor: pointer;
}

.left-side-coins,
.right-side-coins {
  width: 20vw;

  margin-top: 25vh;
}

.left-side-coins > img,
.right-side-coins > img {
  width: 80%;
}

@media (max-width: 768px) {
  .home-container {
    background-image: none;
    background-color: #000;

    height: 100%;
    min-height: 100vh;

    padding-bottom: 20px;
  }

  .left-side-coins,
  .right-side-coins {
    display: none;
  }
}
