@font-face {
  font-family: "Sk-Modernist-Bold";
  src: url("./assets/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Sk-Modernist-Mono";
  src: url("./assets/fonts/Sk-Modernist-Mono.otf") format("opentype");
}

@font-face {
  font-family: "Sk-Modernist-Regular";
  src: url("./assets/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Sk-Modernist-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Dropdown-control {
  font-family: "Sk-Modernist-Bold";
}
